<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seat Confirmation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- Link to jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <form>
      <br />
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>Royal Garden #1234</h1>
            <h3>Room Selection</h3>
            <br />
            <div class="row">
              <div class="col-sm-4">
                <h5>
                  <span class="badge badge-danger">&nbsp;&nbsp;</span>
                  Not Available
                </h5>
              </div>
              <div class="col-sm-4">
                <h5>
                  <span class="badge badge-primary">&nbsp;&nbsp;</span>
                  Available
                </h5>
              </div>
              <div class="col-sm-4">
                <h5>
                  <span class="badge badge-success">&nbsp;&nbsp;</span>
                  Booked
                </h5>
              </div>
            </div>
            <br />
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <center>
                          <h4>Rooms</h4>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SL1
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        DB1
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        TR1
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        PS1
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SL2
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        DB2
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        TR2
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        PS2
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SL3
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        DB3
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        TR3
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        PS3
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SL4
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        DB4
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        TR4
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        PS4
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SL5
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        DB5
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        TR5
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        PS5
                      </button>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <br />
            <div class="row">
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>DLX</h1>
                      <h6>5 / 25</h6>
                      <h6><b>Rs. 3000</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>ST</h1>
                      <h6>6 / 25</h6>
                      <h6><b>Rs. 2000</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>AC</h1>
                      <h6>10 / 25</h6>
                      <h6><b>Rs. 1000</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>N-AC</h1>
                      <h6>4 / 25</h6>
                      <h6><b>Rs. 500</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
              "
            >
              <div>
                <br />
                <h5>
                  <span class="badge badge-danger">SL</span>
                  single
                </h5>
                <h5>
                  <span class="badge badge-danger">DB</span>
                  double
                </h5>
                <h5>
                  <span class="badge badge-danger">TR</span>
                  triple
                </h5>
                <h5>
                  <span class="badge badge-danger">PS</span>
                  presidence suite
                </h5>
                <br />
              </div>
              <div>
                <h5>
                  <span class="badge badge-danger">N-AC</span>
                  Non-Ac
                </h5>
                <h5>
                  <span class="badge badge-danger">AC</span>
                  AC
                </h5>
                <h5>
                  <span class="badge badge-danger">ST</span>
                  Standard
                </h5>
                <h5>
                  <span class="badge badge-danger">DLX</span>
                  Deluxe
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <center>
        <button
          type="submit"
          class="btn"
          style="background-color: black; color: white"
          id="book-room-btn"
        >
          Click Here To Enter Visitors Details
        </button>
      </center>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function createTicket(selectedClass, bookedSeatsByClass) {
        $.get(
          `http://localhost:6010/api/create-ticket?pnr=123&trainId=123&paymentMethod=netbanking&amount=2500&passengerEmail=r.rahul.developer@gmail.com&passengerMobileNumber=8002030975`
        );
      }

      $(document).ready(function () {
        var bookedRoomByClass = {
          DLX: [],
          ST: [],
          AC: [],
          "N-AC": [],
        };
        var selectedHotelClass = null;

        function updateRoomDisplay() {
          $(".seat-btn").css("background-color", ""); // Reset all seats to default color
          if (selectedHotelClass && bookedRoomByClass[selectedHotelClass]) {
            bookedRoomByClass[selectedHotelClass].forEach(function (seatId) {
              $(".seat-btn")
                .filter(function () {
                  return $(this).text().trim() === seatId;
                })
                .css("background-color", "green");
            });
          }
        }

        $(".seat-btn").click(function () {
          if (!selectedHotelClass) {
            alert("Please select a class first!");
            return;
          }

          var seatId = $(this).text().trim();

          if ($(this).css("background-color") === "rgb(0, 128, 0)") {
            $(this).css("background-color", ""); // Reset to default color
            var index = bookedRoomByClass[selectedHotelClass].indexOf(seatId);
            if (index !== -1) {
              bookedRoomByClass[selectedHotelClass].splice(index, 1);
            }
          } else {
            $(this).css("background-color", "green");
            if (!bookedRoomByClass[selectedHotelClass].includes(seatId)) {
              bookedRoomByClass[selectedHotelClass].push(seatId);
            }
          }

          console.log("Room Booked for all classes:", bookedRoomByClass);
        });

        $(".card1 .btn-primary").click(function (e) {
          e.preventDefault();

          $(".card1 .btn-primary").css("background-color", ""); // Reset all class buttons
          $(this).css("background-color", "green"); // Highlight selected class button

          selectedHotelClass = $(this).closest(".card-body1").find("h1").text();
          console.log("Selected Class:", selectedHotelClass);

          updateRoomDisplay();
        });

        $("#book-room-btn").click(function (e) {
          e.preventDefault();
          if (
            !selectedHotelClass ||
            bookedRoomByClass[selectedHotelClass].length === 0
          ) {
            alert(
              "Please select a class and at least one seat before booking."
            );
            return;
          }
          const searchParams = new URLSearchParams(window.location.search);
          const hotel_number = searchParams.get("hotel_number");
          const queryParams = new URLSearchParams({
            hotel_number: hotel_number,
            bookedRoomByClass: JSON.stringify(bookedRoomByClass),
            selectedHotelClass: selectedHotelClass,
          });
          window.location.href = `/visitors-details?${queryParams}`;
        });

        // Initialize with no class selected
        updateRoomDisplay();
      });

      function createTicket(selectedClass, bookedSeatsByClass) {
        $.get(
          `http://localhost:8080/api/create-ticket?pnr=123&trainId=123&paymentMethod=netbanking&amount=2500&passengerEmail=r.rahul.developer@gmail.com&passengerMobileNumber=8002030975`
        );
      }

      function clearCache() {
        const cacheRoomNumber = localStorage.getItem("room_number");
        if (cacheRoomNumber) {
          localStorage.removeItem("room_number");
        }
      }

      clearCache();
    </script>
  </body>
</html>
