<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        background-color: #f9c9aa;
      }
    </style>
  </head>
  <body>
    <div style="padding-top: 5px">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-9 col-lg-7 col-xl-5">
            <div class="card">
              <img
                src="/payment.avif"
                class="card-img-top"
                alt="Payment Image"
              />
              <div class="card-body">
                <center>
                  <br />
                  <br />
                  <h1>Proceed to Payment</h1>
                  <br />
                </center>
                <ul>
                  <li>Number of Visitors = <span id="number-visitor"></span></li>
                  <li>Selected Room Type = <span id="selected-classes"></span></li>
                  <li>Total Price = <span id="price"></span></li>
                </ul>
                <br />
                <br />

                <div class="form-group">
                  <label for="price">Total Price:</label>
                  <input type="text" class="form-control" id="input-price" required/>
                </div>

                <div class="form-group">
                  <label for="pay">Mode of Payment</label>
                  <div
                    class="dropdown"
                    style="
                      border: 2px solid rgba(0, 149, 255, 0.649);
                      border-radius: 10px;
                    "
                  >
                    <button
                      class="btn btn-default dropdown-toggle"
                      type="button"
                      id="pay"
                      data-toggle="dropdown"
                      style="
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      Mode of Payment <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="width: 100%">
                      <li onclick="setMode('UPI')"><a>UPI</a></li>
                      <li onclick="setMode('Net Banking')"><a>Net Banking</a></li>
                    </ul>
                  </div>
                </div>

                <button class="btn btn-primary btn-block" onclick="handleSubmit()">
                  Pay Now
                </button>

                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    <script>
      const _3A_COST = 3000;
      const _2A_COST = 2000;
      const _1A_COST = 1000;
      const _SL_COST = 500;

      const searchParams = new URLSearchParams(window.location.search);
      const email = searchParams.get("email");
      const mobileNumber = searchParams.get("mobileNumber");
      const visitorDetails = JSON.parse(
        decodeURIComponent(searchParams.get("visitorDetails"))
      );
      const bookedRoomByClass = JSON.parse(
        decodeURIComponent(searchParams.get("bookedRoomByClass"))
      );

      const numVisitorComponent = document.getElementById("number-visitor");
      const selectedClassesComponent =
        document.getElementById("selected-classes");
      const priceComponent = document.getElementById("price");

      let totalVisitors = 0;
      let selectedClasses = [];
      let price = 0;

      Object.entries(bookedRoomByClass).forEach(([className, seats]) => {
        if (seats.length > 0) {
          totalVisitors += seats.length;
          selectedClasses.push(className);
          if (className === "DLX") price += _3A_COST * seats.length;
          else if (className === "ST") price += _2A_COST * seats.length;
          else if (className === "AC") price += _1A_COST * seats.length;
          else if (className === "N-AC") price += _SL_COST * seats.length;
        }
      });

      numVisitorComponent.textContent = totalVisitors;
      selectedClassesComponent.textContent = selectedClasses.join(", ");
      priceComponent.textContent = price;

      document.getElementById("input-price").value = price;

      let mode = "";
      function setMode(modeValue) {
        const payComponent = document.getElementById("pay");
        payComponent.textContent = modeValue;
        mode = modeValue;
      }

      const hotelId = searchParams.get("hotel_number");

      console.log(hotelId);

     
      async function handleSubmit(e) {
        if(!mode){
          alert("Please select mode of payment");
          return;
        }
        const enteredPriceComponent = document.getElementById("input-price");
        const enteredPrice = enteredPriceComponent.value;
        console.log(enteredPrice);
        if (parseInt(enteredPrice) !== price) {
          alert("Entered price is not correct");
          return;
        }
        const room = await createRoom();
        alert("Room Booked!");
        window.location.href = `view-booked-detail?pnr=${room}`;
      }

      function generatePNR() {
        return Math.floor(1000000000 + Math.random() * 9000000000).toString();
      }

      async function createRoom() {
        const pnr = generatePNR();
        console.log(email);
        const createTicketResponse = await fetch(
          `/api/create-ticket?pnr=${pnr}&hotelId=${hotelId}&method=${mode}&amount=${price}&email=${email}&visitorMobileNumber=${mobileNumber}`
        );
        console.log(visitorDetails);

        for (let i = 0; i < visitorDetails.length; i++) {
          console.log(i);
          const visitor = visitorDetails[i];
          const name = visitor.visitorName;
          const age = visitor.age;
          const gender = visitor.gender;
          const classType = visitor.classType;
          const seats = bookedRoomByClass[classType];
          const seat = seats[i % seats.length]; // Cycle through seats if more passengers than seats
          const className = seat.substring(0, seat.length - 1);
          let preference = "";
          if (className === "SUB" || className === "UB") preference = "upper";
          else if (className === "SLB" || className === "LB")
            preference = "lower";
          const addVisitorResponse = await fetch(
            `/api/add-user?pnr=${pnr}&name=${name}&age=${age}&gender=${gender}&preference=${preference}&className=${className}&price=${price}&seatNumber=${seat}`
          );
          console.log(addVisitorResponse);
        }

        console.log(pnr);
        return pnr;
      }

      console.log("Total price:", price);
    </script>

    <!-- View Booked Ticket - Go to
<a href="view-booked-detail-page.html">View Booked Ticket Page</a> -->
  </body>
</html>
