<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Page</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body,
      html {
        height: 100%;
      }
      .full-height {
        height: 100%;
      }
      .card-custom {
        border-radius: 1rem;
      }
    </style>
  </head>

  <body>
    <div style="background-color: #9A616D; height: 100%;">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem; margin-top: 70px;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img
                    src="/hotel.jpeg"
                    alt="login form"
                    class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem;"
                  />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <h1>Reset Password</h1>
                    <br />
                    <form id="resetPasswordForm">
                      <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="newPassword"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="confirmPassword"
                          required
                        />
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">
                        Change Password
                      </button>
                    </form>
                    <br />
                    <div
                      id="successMessage"
                      class="alert alert-success"
                      style="display: none"
                    >
                      <strong>Success!</strong> Password changed successfully.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script>
      document
        .getElementById("resetPasswordForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          const newPassword = document.getElementById("newPassword").value;
          const confirmPassword =
            document.getElementById("confirmPassword").value;

          if (newPassword !== confirmPassword) {
            alert("Passwords do not match.");
            return;
          }

          // localhost:5000?email=r.rahul.developer@gmail.com
          const urlParams = new URLSearchParams(window.location.search);
          const email = urlParams.get("email"); // r.rahul.developer@gmail.com

          fetch(
            `/api/change-password?email=${encodeURIComponent(
              email
            )}&password=${encodeURIComponent(newPassword)}`
          )
            .then((response) => response.json())
            .then((data) => {
              if (data.status == 200) {
                document.getElementById("successMessage").style.display =
                  "block";
                setTimeout(() => {
                  window.location.href = "/user-login";
                }, 2000);
              } else {
                alert("Error changing password: " + data.message);
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("An error occurred while changing the password.");
            });
        });
    </script>
  </body>
</html>
