<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Booked Ticket Page</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: #fff7f7;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <!-- SAHIL CODE WILL BE PASTED HERE -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-6">
          <!-- <h1 class="text-black">User</h1> -->
        </div>
        <div class="col-6 text-right">
          <!-- <p class="text-primary">Date:08/07/2024 <br />Time:10:30 AM</p> -->
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between">
          <!-- <p>
            Train Name:
            <span class="font-weight-bold">Satabdi Express #1234</span>
          </p>
          <p><strong>From:</strong> Chennai <strong>To:</strong> Bengaluru</p> -->
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="border border-dark p-4">
            <div class="text-center mb-4">
              <button class="btn btn-primary">Room Booked</button>
              <a href="admin-dashboard">
                <button class="btn btn-default">Go Back</button>
              </a>
            </div>
            <div class="row justify-content-center">
              <div
                class="col-sm-12 col-md-5"
                id="show-roomNumber-section"
              ></div>
              <div class="col-sm-12 col-md-5" id="show-room-section"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center mb-4">
                Room Booking Information
              </h5>

              <div class="row">
                <div class="col-md-6">
                  <div class="d-flex justify-content-between mb-4">
                    <button class="btn btn-primary">
                      Total number of Rooms booked
                    </button>
                    <button class="btn btn-success">60/80</button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Room Booked by each Class</th>
                        <th>Number of Rooms Booked</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>single</td>
                        <td>25</td>
                      </tr>
                      <tr>
                        <td>double</td>
                        <td>18</td>
                      </tr>
                      <tr>
                        <td>triple</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>presidencial suite</td>
                        <td>5</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <div class="d-flex justify-content-between mb-4">
                    <button class="btn btn-primary">
                      Number of Rooms Available
                    </button>
                    <button class="btn btn-success">20/80</button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Rooms Not Booked by Class</th>
                        <th>Number of Rooms Not Booked</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>single</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>double</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>triple</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>presidencial suite</td>
                        <td>0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const showRoomSection = document.getElementById("show-room-section");
      const showRoomNumberSection = document.getElementById(
        "show-roomNumber-section"
      );

      function createRoomElement(roomNumber) {
        console.log(roomNumber);

        const roomElement = document.createElement("div");
        roomElement.className = "border border-dark p-2 mb-3";
        roomElement.innerText = roomNumber;
        return roomElement;
      }

      function createShowDetailsButton(link) {
        const showDetailsButton = document.createElement("button");
        showDetailsButton.className = "btn btn-info mb-3 w-100";
        showDetailsButton.innerText = "Show Details";
        showDetailsButton.onclick = function () {
          window.location.href = link;
        };
        return showDetailsButton;
      }

      function appendRoom(roomNumber) {
        console.log(roomNumber);
        const roomElement = createRoomElement(roomNumber);
        const showDetailsElement = createShowDetailsButton(
          "/view-booked-detail?roomNumber=" + roomNumber
        );
        showRoomSection.appendChild(showDetailsElement);
        showRoomNumberSection.appendChild(roomElement);
      }

      $(document).ready(function () {
        $.ajax({
          url: "/api/all-ticket",
          method: "GET",
          success: function (data) {
            data.forEach((item) => {
              appendRoom(item.pnr);
            });
          },
          error: function (err) {
            console.error("Error fetching rooms:", err);
          },
        });
      });
    </script>
  </body>
</html>
