<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Booked Details Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
      body {
        background-color: #d2e0fb29;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Hotel Reservation Information</h1>
      <a id="back-btn">
        <button class="btn btn-primary">Go Back</button>
      </a>
    </center>

    <div class="container mt-3">
      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn btn-primary mr-3"
          id="hotelDetailsButton"
        >
          Hotel Details
        </button>
      </div>
    </div>

    <div class="container mt-5" id="hotelDetailsContainer">
      <div class="border border-dark p-4">
        <form id="hotelDetailsForm">
          <div class="row mb-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="location"
                placeholder="Location:"
                readonly
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="hotelName"
                placeholder="Hotel Name:"
                readonly
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="journeyDate"
                placeholder="Journey Date:"
                readonly
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="hotelId"
                placeholder="Hotel ID:"
                readonly
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="arrivalTime"
                placeholder="Arrival Time:"
                readonly
              />
            </div>
          </div>
          <br />
          <!-- <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="arrivalTime"
                placeholder="Arrival Time:"
                readonly
              />
            </div>
          </div> -->
        </form>
      </div>
    </div>
    <br />

    <div class="container mt-3">
      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn btn-primary mr-3"
          id="visitorDetailsButton"
        >
          Visitor Details-1
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p class="mb-0">
          Number of Visitors: <span id="numberOfVisitors">2</span>
        </p>
      </div>
    </div>
    <div class="container mt-5" id="visitorDetailsContainer">
      <!-- Visitor details will be added here dynamically -->
    </div>
    <br />

    <div class="container mt-3">
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary mr-3">
          Payment Details
        </button>
      </div>
    </div>
    <div class="container mt-5">
      <div class="border border-dark p-4">
        <form id="paymentDetailsForm">
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              id="paymentMethod"
              placeholder="Payment Method:"
              readonly
            />
          </div>
          <br />
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              id="totalPrice"
              placeholder="Total Price:"
              readonly
            />
          </div>
        </form>
      </div>
    </div>

    <br />
    <div class="container mt-3">
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary mr-3">
          Other Details
        </button>
      </div>
    </div>
    <div class="container mt-5">
      <div class="border border-dark p-4">
        <form id="otherDetailsForm">
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              id="visitorEmail"
              placeholder="Visitor Email:"
              readonly
            />
          </div>
          <br />
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              id="mobileNumber"
              placeholder="Mobile Number:"
              readonly
            />
          </div>
        </form>
      </div>
    </div>
    <br />

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchParams = new URLSearchParams(window.location.search);
        const roomNumber = searchParams.get("pnr");

        console.log(roomNumber);

        const backBtn = document.getElementById("back-btn");
        backBtn.addEventListener("click", function () {
          if (localStorage.getItem("type") == "user") {
            window.location.href = "/user-dashboard";
          } else {
            window.location.href = "/admin-dashboard";
          }
        });

        function fetchDetails() {
          fetch(`/api/get-ticket?pnr=${roomNumber}`)
            .then((response) => response.json())
            .then((roomData) => {
              document.getElementById("hotelId").value = roomData.hotelId;
              // document.getElementById("roomNumber").value = roomData.roomNumber;

              return fetch(
                `/api/search-hotel-by-id?hotelId=${roomData.hotelId}`
              )
                .then((response) => response.json())
                .then((hotelData) => {
                  console.log(hotelData);
                  document.getElementById("arrivalTime").value =
                    hotelData.time || "NA";
                  document.getElementById("location").value =
                    hotelData.location;
                  document.getElementById("hotelName").value =
                    hotelData.hotelName;
                  document.getElementById("journeyDate").value = hotelData.date;
                  document.getElementById("journeyDate").value = hotelData.date;
                });
            })
            .then(() => {
              return fetch(`/api/get-ticket?pnr=${roomNumber}`)
                .then((response) => response.json())
                .then((paymentData) => {
                  document.getElementById("paymentMethod").value =
                    paymentData.method;
                  document.getElementById("totalPrice").value =
                    paymentData.amount;
                  document.getElementById("visitorEmail").value =
                    paymentData.email;
                  document.getElementById("mobileNumber").value =
                    paymentData.visitorMobileNumber;
                });
            })
            .then(() => {
              return fetch(`/api/get-user-ticket?pnr=${roomNumber}`)
                .then((response) => response.json())
                .then((visitorData) => {
                  const visitorDetailsContainer = document.getElementById(
                    "visitorDetailsContainer"
                  );
                  const visitors = Array.isArray(visitorData)
                    ? visitorData
                    : [visitorData];

                  visitorDetailsContainer.innerHTML = "";

                  visitors.forEach((visitor, index) => {
                    visitorDetailsContainer.innerHTML += `
                      <div class="border border-dark p-4 mb-3">
                        <form>
                          <div class="row mb-3">
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Visitor Name:"
                                value="${visitor.name}"
                                readonly
                              />
                            </div>
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Age:"
                                value="${visitor.age}"
                                readonly
                              />
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Gender:"
                                value="${visitor.gender}"
                                readonly
                              />
                            </div>
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Preference:"
                                value="${visitor.className}"
                                readonly
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Price:"
                                value="${visitor.price}"
                                readonly
                              />
                            </div>
                            <div class="col-md-6">
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Seat Number:"
                                value="${visitor.seatNumber}"
                                readonly
                              />
                            </div>
                          </div>
                        </form>
                      </div>
                    `;
                  });
                });
            })
            .catch((error) => {
              console.error("Error fetching details:", error);
            });
        }

        fetchDetails();
      });
    </script>
  </body>
</html>
