<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; font-src 'self' https: data:; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/;"
    />
    <title>Visitors Details</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        background-color: #eeeeee;
      }

      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(
          to right,
          #ee7724,
          #d8363a,
          #dd3675,
          #b44593
        );

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(
          to right,
          #ee7724,
          #d8363a,
          #dd3675,
          #b44593
        );
      }

      @media (min-width: 768px) {
        .gradient-form {
          height: 100vh !important;
        }
      }

      @media (min-width: 769px) {
        .gradient-custom-2 {
          border-top-right-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="h-100 gradient-form">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                      <img
                        src="hotel4.avif"
                        style="width: 185px;"
                        alt="logo"
                      />
                      <h4 class="mt-1 mb-5 pb-1">
                        You are in the Visitor Summary Page
                      </h4>
                    </div>

                    <h2>Visitor Details</h2>
                    <div id="class-summary"></div>
                    <form id="visitor-form">
                      <div class="form-group">
                        <label for="email">Email address:</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="mobile-number">Mobile Number:</label>
                        <input
                          type="tel"
                          class="form-control"
                          id="mobile-number"
                          required
                        />
                      </div>
                      <div id="visitor-details-container"></div>
                      <button
                        type="button"
                        class="btn btn-primary"
                        onclick="handleSubmit()"
                      >
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h2 class="mb-4">Creating memories,one Stay at a time</h2>
                    <p class="mb-0" style="font-size: larger;">
                      Wishing you a stay filled with joy laughter and beautiful memories May you create new friendships and leave with a heart full of happiness Enjoy your stay, and may every moment bring you positive vibes
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <script>
      let visitorCount = 1;
      const visitors = [];

      function insertVisitorsComponent(classType) {
        const visitorComponent = document.createElement("div");
        visitorComponent.innerHTML = `
                <div class="visitor-details" data-class="${classType}">
                    <hr />
                    <h4>Visitor Details (${visitorCount}) - Room Type: ${classType}</h4>
                    <div class="form-group">
                        <label for="visitor-name-${visitorCount}">Visitor Name:</label>
                        <input type="text" class="form-control" id="visitor-name-${visitorCount}" required />
                    </div>
                    <div class="form-group">
                        <label for="age-${visitorCount}">Age:</label>
                        <input type="number" class="form-control" id="age-${visitorCount}" required />
                    </div>
                    <div class="form-group">
                        <label for="gender-group-${visitorCount}">Gender</label>
                        <div id="gender-group-${visitorCount}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender-${visitorCount}" id="male-${visitorCount}" value="male" checked>
                                <label class="form-check-label" for="male-${visitorCount}">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender-${visitorCount}" id="female-${visitorCount}" value="female">
                            <label class="form-check-label" for="female-${visitorCount}">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender-${visitorCount}" id="transgender-${visitorCount}" value="transgender">
                            <label class="form-check-label" for="transgender-${visitorCount}">Transgender</label>
                        </div>
                    </div>
                </div>
            </div>`;
        const visitorDetailsContainer = document.querySelector(
          "#visitor-details-container"
        );
        visitorDetailsContainer.appendChild(visitorComponent);
        visitors.push(visitorComponent);
        visitorCount++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const bookedRoomByClass = JSON.parse(
          decodeURIComponent(urlParams.get("bookedRoomByClass"))
        );

        let classSummary = "<ul>";
        Object.entries(bookedRoomByClass).forEach(([classType, seats]) => {
          if (seats.length > 0) {
            classSummary += `
              <li>
                Room Type: ${classType}: ${seats.length} Visitor(s)
              </li>
            `;
            seats.forEach(() => {
              insertVisitorsComponent(classType);
            });
          }
        });
        classSummary += "</ul>";
        document.getElementById("class-summary").innerHTML = classSummary;
      });

      function getVisitorDetails() {
        const visitorDetails = [];
        visitors.forEach((visitor, index) => {
          const visitorName = visitor.querySelector(
            `#visitor-name-${index + 1}`
          ).value;
          const age = visitor.querySelector(`#age-${index + 1}`).value;
          const gender = visitor.querySelector(
            `input[name="gender-${index + 1}"]:checked`
          ).value;
          const classType =
          visitor.querySelector(".visitor-details").dataset.class;

          visitorDetails.push({
            visitorName,
            age,
            gender,
            classType,
          });
        });
        console.log( visitorDetails);
        return  visitorDetails;
      }

      function handleSubmit() {
        const email = document.getElementById("email").value;
        const mobileNumber = document.getElementById("mobile-number").value;
        const visitorDetails = getVisitorDetails();
        const searchParams = new URLSearchParams(window.location.search);
        const bookedRoomByClass = searchParams.get("bookedRoomByClass");
        const hotel_number = searchParams.get("hotel_number");

        if(!email || !mobileNumber){
          alert("Please enter the personal details");
          return;
        }
        for(const visitor of visitorDetails){
          if(!visitor.visitorName || !visitor.age || !visitor.gender){
            alert("Please fill out the Visitor details")
            return;
          }
        }
        const queryString = $.param({
          hotel_number: hotel_number,
          email: email,
          mobileNumber: mobileNumber,
          visitorDetails: JSON.stringify(visitorDetails),
          bookedRoomByClass: bookedRoomByClass,
        });
        window.location.href = `payment?${queryString}`;
      }
    </script>
  </body>
</html>
